.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Adjust the height as needed */
  background-color: aliceblue;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  width: 80vw;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bill-container {
  margin-bottom: 20px;
}

.proceed-btn {
  margin-top: 20px;
}
